  .link{
    cursor: pointer
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
    margin: 10px;
    width: 100%;
  
    color: #000;
    background: #E4D2F8;
    border-radius: 5px;
    border: none;

    word-break: break-word;

    font-size: 16px;
  }

  .painelBotoes{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .painelTextoItem{
    width: 90%;
    max-width: 60ch;
  }